export(ConnectTrueFX)
export(Disconnect)
export(isActive)
export(ParseTrueFX)
export(QueryTrueFX)
export(Reconnect)
export(TrueFXRef)
importFrom(XML,readHTMLTable)
S3method(Disconnect,TFXsession)
S3method(isActive,TFXsession)
S3method(Reconnect,TFXsession)
