S3method(Disconnect,TFXsession)
S3method(Reconnect,TFXsession)
S3method(isActive,TFXsession)
S3method(print,TFXsession)
export(ConnectTrueFX)
export(Disconnect)
export(ParseTrueFX)
export(QueryTrueFX)
export(Reconnect)
export(TrueFXRef)
export(isActive)
importFrom(XML,readHTMLTable)
